<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
<!--파일은 쓰지 않으므로 주석처리 함-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>/tmp/access.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>/tmp/access-%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->

<!--        <encoder>-->
<!--            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!-- 특정 패키지 로그 레벨 설정 -->
<!--    <logger name="hello.jpa" level="info"/>-->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>